body {
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-image: url(./website-background.jpg);
    color: white;
}

header, footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
}

ul li {
    text-align: right;
    display: inline;
    padding: 60px;
    color:rgb(236, 151, 165);
}

a {
    text-decoration: none;
}

a:link {
    color: pink;
}

a:hover {
    color: #f72585;
}

.text-center {
    text-align: center;
}

#home {
    height: 100vh;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 100px;
    display: flex;
    align-items: center;
}

#home div {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: center;
}

#home img {
    border-radius: 50%;
    width: 500px;
    /* height: 500px; */
}


/* img {
    width: 400px;
    padding: 60px;
} */

#first-project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
}

#first-project img {
    width: 70vw;
}

#first-project img:hover {
    opacity: 70%;
    width: 75vw;
}

#first-project h2 {
    padding: 20px 0 ;
}

.first-project {
    flex-basis: 100%;    
}

/* .first-project img {
    width: 70vw !important;
} */

#other-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#other-projects img {
    width: 35vw;
}

#other-projects h2 {
    padding: 20px;
    text-align: center;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding-bottom: 200px; */
}

footer {
    position: static;
    width: 100%;
    bottom: 0;
}
    /* margin-top: auto; */

@media screen and (max-width:980px) {
}

@media screen and (max-width:768px) {
    #home {
        flex-direction: column;
        padding: 50px;
        align-items: center; 
    }

    #home img {
        width: 500px;
    }

    #home h1 {
       text-align: center;
       padding-bottom: 50px;
    }

    ul li {
        padding: 10px;
    }

    #projects img {
        width: 80vw;
    }

    #projects div {
        margin-bottom: 80px;
    }

    #projects h2 {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:500px) {
}